@import "./container.css";

body {
    background-color: #151515;
}

.stars-container {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100svh;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;
}

.star-container {
    display: flex;
    gap: 10px;
    position: relative;
}

.un-clicked{
    color: #ffffff;
    font-size: 24px;
    transition: all 0.25s ease-in-out;
}

.un-clicked:hover, .clicked:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.un-clicked:hover {
    color: #868686;
}

.clicked:hover {
    color: #9b9600;
}

.clicked {
    color: gold;
    font-size: 24px;
    transition: all 0.25s ease-in-out;
}

h2 {
    color: #fff;
    font-size: 16px;
}

.open-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(0, 128, 255);
    padding: 4px 8px;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

.close-btn:hover {
    transform: scale(1.1);
    color:rgb(0, 128, 255);
    background-color: #fff;
}

.open {
    visibility: visible;
}

.close {
    visibility: hidden;
}