@import "./container.css";

body {
    background-color: #151515;
}

.stars-container {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100svh;
    width: 100vw;
}

section {
    display: flex;
    gap: 10px;
}

.un-clicked{
    color: #ffffff;
    font-size: 24px;
    transition: all 0.25s ease-in-out;
}

.un-clicked:hover {
    color: #868686;
    transform: scale(1.1);
    cursor: pointer;
}

.clicked {
    color: gold;
    font-size: 24px;
    transition: all 0.25s ease-in-out;
}